html{
    font-family: Arial;
    color: #10154B;
}

ul li{
    display: inline-block;
    list-style-type: none;
}

h2{
    font-size: 36px;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

a:hover {
    color: #fd367e !important;
}

.content{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float: left;
}

.header{
    padding-top: 3em;
    position: absolute;
    left: 15px;
    right: 15px;
}

.header .content{
    position: relative;
}

.main-menu{
    text-transform: uppercase;
    float: right;
}

.main-menu ul li{
    padding-left: 1em;
}

.main-menu ul li a{
    font-size: 15px;
    color: #ffffff;
}

.main-title{
    background-image: url("img/img-jumbotron-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

.main-title h1{
    font-size: 64px;
}

.main-title p{
    color: #b8b8bc;
    margin-bottom: 4em;
    font-size: 24px;
}

.main-title a{
    color: #ffffff;
    border-style: solid;
    padding: 1em;

}

.main-title .content{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}

.event-date{
    font-size: 24px;
}

#section-intro{
    margin-top: 5em;
    font-size: 19px;
}

.contact{
    margin-bottom: 5em;
}
.contact address{
    font-size: 15px;
    font-style: normal;
    color: #999999;
    line-height: 175%;
}

.contact address:first-line{
    color: #2F364B;
}

.contact abbr{
    border-bottom: 1px dotted;
}

#section-speaker, #section-pricing{
    padding-top: 5em;
    padding-bottom: 10em;
    background-color: #EEEFF1;
    text-align: center;
}

.section-title{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.section-title p{
    color: #7A7B7D;
}

.thumbnail{
    margin: 0.5em;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

.section-content .thumbnail figcaption h3 small{
    font-weight: normal;
    color: #868686;
    display: block;
    padding-top: 5%;
}

.session{
    width: 250px;
    display: block;
    border-left: 1px solid #ECEBEB;
    margin-bottom: 32px;
    padding-right: 48px;
}

#section-agenda{
    margin-bottom: 5em;
}

time{

    display: inline-block;
    margin: 0;
    color: #182A4C;
    padding: 16px;
    border-bottom: 1px solid #ECEBEB;
    font-weight: lighter;
    font-size: 75%;
}

.session h3{
    text-transform: initial;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    margin: 0;
    font-weight: lighter;
    font-size: 125%;
}

.session h4{
    margin: 0;
    padding-left: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: lighter;
}

.session h4 span{
    display: block;
    font-size: 75%;
}

.pricing-table-default{
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    width: 320px;
    border-width: 320px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    display: inline-block;
    padding-bottom: 2em;
}

.pricing-head h3{
    font-size: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: #0E164B;
    color: #ffffff;
    font-weight: normal;
    margin: 0 0 2em;

}

.pricing-head span{

    font-size: 64px;
    font-weight: bolder;
    color: #2e3638;
    padding-right: 26px;
}

.pricing-head span sup{
    font-size: 32px;
}

.pricing-detail ul{
    display: inline;
}
.pricing-detail li{
    display: block;
    margin-bottom: 2em;
    list-style-type: none;
    text-align: center;
    font-weight: lighter;
}

#section-pricing .btn{
    padding: 1em 2em;
    background-color: #fd367e;
    color: #ffffff;
}

#section-pricing .btn:hover{
    color: #fd367e;
    border: 2px solid #fd367e;
    background-color: white;
}

.partner{
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
    padding: 10px;

}

#footer{
    font-size: 13px;
    color: #868686;
    font-weight: lighter;
    text-align: center;
    margin-top: 10em;
    padding-bottom: 2em;
}

#footer a{
    color: #fd367e;
}












/*

.main-menu{
    padding-top: 1em;
    float: right;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-menu ul li{
    float: left;
    padding-left: 1em;
    text-transform: uppercase;
}

.main-menu ul li a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 15px;
}

.main-title{
    color: #ffffff;
    text-align: center;
}

.main-title p{
    color: rgb(181 181 186);
}

.main-title h1{
    font-size: 64px;
}

